<footer>

  <div>
    <div>
      <a>Home</a>
      <a>On The Menu</a>
      <a>Pricing</a>
    </div>

    <div>
      <a>Blog</a>
      <a>FAQ</a>
    </div>

    <div>
      <a>Terms of Use</a>
      <a>Purchase Terms & Conditions</a>
      <a>Investors</a>
    </div>

    <div>
      <p>GET IN TOUCH</p>
      <p>+1(647) 269-1734</p>
      <p> (Mon-Fri: 8AM-11:45PM, Sat-Sun: 9AM-8PM)</p>
      <p>heeyeonh3@gmail.com</p>
      <p>Live chat</p>
      <p>(Mon-Fri: 8AM-8PM, Sat-Sun: 9AM-5PM)</p>
      <div>
        <img src="/images/facebook.png" />
        <img src="/images/instagram.png" />
      </div>
    </div>
  </div>
  <p>Copyright © Fall 2021, Nick Romanidis, WEB322 ZAA</p>

</footer>