<div class="container">
  <div>
    <h1>Welcome to Alice Food Delivery!</h1>
    <h3>You can get 5 times farm-fresh food with free delivery when you sign up now !</h3>
    <a class="menuButton" href="/menu">ON THE MENU</a>
  </div>
  <video src="/images/video.mp4" muted loop autoplay height="800" />

</div>