<div class="container">
  <img src="/images/backgroung.jpg" alt="Cinque Terre" height="800">
  <div>
    <h1>Welcome to Alice Food Delivery!</h1>
    <h3>You can get 5 times farm-fresh food with free delivery when you sign up now !</h3>
  </div>
</div>