<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="signup.css">

</head>

<body>
  <div class="con">
    <div class="con-first">
      Sign Up
      <p>Create your account by entering your email address and choosing a password</p>
    </div>

    <form method="post">
      <div class="texting_field">
        <input type="fname" required>
        <span></span>
        <label>* First name</label>
      </div>

      <div class="texting_field">
        <input type="lname" required>
        <span></span>
        <label>* Last name</label>
      </div>

      <div class="texting_field">
        <input type="email" required>
        <span></span>
        <label>* Email Address</label>
      </div>

      <div class="texting_field">
        <input type="password" required>
        <span></span>
        <label>* Password</label>
      </div>

      <input type="submit" value="Sign up today!!">
  </div>


  </form>

  </div>
</body>

</html>