<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alice Food Delivery</title>
  <link rel="stylesheet" href="welcome.css">

</head>




<body>
  <div class="container">
    <img src="/images/user/cool-background.png" />
    <div>
      <h2 style="margin-top: 5vh;">👋 Nice to meet you, <span>{{fullName}}</span> !! </h2>
      <h3>Now, You got 5 times farm-fresh food with free delivery 😋</h3>
      <br>
      <a class="buttonMenu" href="/menu">Go to menu section!</a>
    </div>
  </div>

</body>

</html>