<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alice Food Delivery</title>
</head>

<body>
  {{>dashboardBack}}

  <div class="dashCon">
    <img src="/images/profile.png" />
    <div>
      <div style="background-color: #A560B7;">Customer 👩</div>
      <div>Name: {{user.firstName}} {{user.lastName}}</div>
    </div>
  </div>

</body>

</html>