.menuCon{
  display: flex;
  place-content: center;
}


.menuCon > a {
  background-color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #E95C63;
  padding: 13px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.4s;
  display: inline-block;
  border-radius: 24px;
  border: 1px solid #e95c63;

}

.menuCon > a:hover{
  background-color: #e95c63;
  color: white;
  transition: 0.4s;
  border: 1px solid #e95c63;
}

.con{
  font-size: 2em;
  color: #e95c63;
  text-align: center;
}
.menu{
  /*display: flex;
  flex-wrap: wrap;
  width: 100%;*/
  float: left;
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  display: flex;
  flex-flow: wrap;
}
.card {
  min-width: 35%;
  width: 35%;
  margin: 0;
  padding: 5%;
}

hr {
  margin: 10px;
}

.conMenuName{
  margin-top: 80px;
}