<footer>
  <div>
    <div>
      <p>Home</p>
      <p>On The Menu</p>
      <p>Pricing</p>
      <p>Goodfood WOW</p>
      <p>Join our team!</p>
      <p>Our Story</p>
    </div>

    <div>
      <p>Blog</p>
      <p>FAQ</p>
      <p>Pricing</p>
      <p>Our Ingredients</p>
      <p>Our Commitment</p>
      <p>Gift Cards</p>
    </div>

    <div>
      <p>Press</p>
      <p>Terms of Use</p>
      <p>Purchase Terms & Conditions</p>
      <p>Investors</p>
    </div>

    <div>
      <p>GET IN TOUCH</p>
      <p>1(855) 515-5191</p>
      <p> (Mon-Fri: 8AM-11:45PM, Sat-Sun: 9AM-8PM)</p>
      <p>chef@makegoodfood.ca</p>
      <p>Live chat</p>
      <p>(Mon-Fri: 8AM-8PM, Sat-Sun: 9AM-5PM)</p>
      <p>FOLLOW US</p>
      <div>
        <img src="./images/facebook.png" />
        <img src="./images/instagram.png" />
      </div>
    </div>
  </div>
  <p>Copyright © Fall 2021, Nick Romanidis, WEB322 ZAA</p>
</footer>