<header>

  <div>
    <ul>
      <li> <img src="/images/logo.png" /></li>
      <li><a class="active" href="menu">ON THE MENU</a></li>
      <li><a href="#PRICING">PRICING</a></li>
      <li><a href="#BLOG">BLOG</a></li>
      <li><a href="#FAQ">FAQ</a></li>
      <li><a href="#WITHENSHAW">ALICE WITHENSHAW</a></li>
      <li><a href="#GIFT">GIFT CARD</a></li>
      <div>
        <a class="buttonLogin" href="login">Log in</a>
        <a class="buttonSignup" href="signup">Sign up</a>
      </div>
    </ul>

  </div>

</header>